@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Set default body font to Roboto */
  body {
    @apply font-body;
  }

  /* Use Fredoka for headings by default */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}
