{% extends 'partials/base.html.twig' %}

{% block content %}
  {# About menu cards #}
  <section class="py-6 px-4 md:py-12 bg-white">
   {% include 'partials/about-menu.html.twig' %}
  </section>
{% endblock %}
